<p id="notice"><%= notice %></p>

<h1><%= @question.body %></h1>

<h3>Asked by <%= @question.user.username %> in <%= @question.category %></h3>

<%= link_to 'Give an Answer', new_question_answer_path(@question) %>

<% @answers.each do |answer| %>
  <h4><%= answer.body %> posted by <%= answer.user.username %></h4>
<% end %>
