<header class="header-image" style="margin-top: -50px">
  <meta name="google-site-verification" content="grqqO-Ewe7z8_2MjZoX6zSU7YVAG9o46oM1UrwA90uI" />
    <div class="headline">
        <div class="container">
            <div class="col-md-8">
                <h2 style="font-family: 'Indie Flower', cursive;">Svara</h2>
                <center><h3 style="font-family: 'Nunito', sans-serif";>Et sted hvor elever deler kunnskap og samarbeider</h3></center>
        
            </div>
            <% if !user_signed_in? %>  
            <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Registrer deg</h3>
                  </div>
                  <div class="panel-body">
                    
                  
                    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
                      <%= devise_error_messages! %>
                    
                      <div class="form-group">
                        <%= f.email_field :email, placeholder: 'Epost', class: 'form-control input-md' %>
                      </div>
                      
                      <div class="form-group">
                        <%= f.text_field :username, placeholder: 'Brukernavn', class: 'form-control input-md' %>
                      </div>
                    
                      <div class="form-group">
                        <%= f.password_field :password, placeholder: 'Passord', class: 'form-control input-md' %>
                      </div>
                    
                      <div class="form-group">
                        <%= f.password_field :password_confirmation, placeholder: 'Bekreft passord', class: 'form-control input-md' %>
                      </div>
                    
                      <div class="form-group">
                        <%= f.submit "Registrer deg", class: 'btn btn-primary btn-md' %>
                      </div>
                   
                    <% end %>
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
  <% if user_signed_in? %>
  <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Nytt Spørsmål</h3>
                  </div>
                <div class="panel-body">
  
                <div class="form-group">
     
                <div class="form-group">
                 <%= form.text_field :body, class: 'form-control input-lg',placeholder: "Hva er 2+2" %>
                 </div>
                      
                      
                      
                      
                 <div class="form-group">
                  <%= form.select :category, [["Matte", "Matte"],["Naturfag", "Naturfag"],["Engelsk", "Engelsk"], ["Samfunnsfag", "Samfunnsfag"],["RLE", "RLE"] ,["Norsk", "Norsk"]], class: 'form-control input-lg' %>
                  </div>
  
                  <div class="form-group">
                   <%= form.submit "Spør spørsmål", class: "btn btn-primary btn-lg" %>
                   </div>
                 
  
  <div class="form-group">
 <%= form.text_field :body, class: 'form-control input-lg',placeholder: "Hva er 2+2" %>
                      
                      <%= link_to "Spør spørsmål", @questions_path %>

<%= link_to 'Back', questions_path %>
</div>

                   <% end %>
  
               
                      </div>
                      
                  
                    
                    
                  </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</header>